@font-face {
    font-family: 'Madimi One';
    src: 
        local('MadimiOne'),
        url('../fonts/MadimiOne.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Oswald';
    src: 
        local('Oswald'),
        url('../fonts/Oswald.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}